.content{
    width: 50%;
    margin: auto;
    background-color:rgb(20, 19, 19);
    z-index: 1;
}

.content input{
    border: 2px solid green;
    width: 50%;
    margin: auto;
    border-radius: 25px;
    outline: none;
    background-color: black;
    padding: 1%;
}

label{
    margin-top: 2%;
    margin-left: 27%;
}
.textalign{
    text-align: center;
}
.checkbox input{
    width: 4%;
  
}

.checkbox span{
    color: green;
}

.signupbtn{
    background-color: green;
    margin-left: 30%;
    color: white;
    width: 40%;
    border-radius: 25px;
    padding: 2%;
}

.color{
    color: green;
}

.topbtn{
    background-color: black;
    border-radius: 25px;
    width: 41%;
    padding: .5% ;
    margin: auto;
}

.topbtn1 {
    background-color: black;
    color: white;
    border: 0;
    outline: 0;
}

.btncolor1{
    background-color: green;
    padding: 2%;
    color: white;
    border-radius: 25px;
    background-color: 2px solid green;

}

.err{
    color: red;
    margin-left: 28%;
}

@media only screen and (max-width: 608px) {

    .content{
        width: 80%;
    }
    .topbtn{
        width: 100%;
    }
    .signupbtn{
        width: 100%;
        margin:auto;
    }
    .content input{
        width: 100%;
    }
    label{
        
        margin:auto;
    }
    
  }

